aiohttp==3.2.1
APScheduler==3.2.0
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
chromedriver==2.24.1
click==6.7
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
defusedxml==0.5.0
fake-useragent==0.1.10
Flask==0.12
Flask-Login==0.4.1
future==0.16.0
gevent==1.3.2.post0
greenlet==0.4.13
hyperlink==18.0.0
idna==2.6
idna-ssl==1.0.1
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
lxml==3.7.2
MarkupSafe==1.0
msgpack-python==0.5.6
multidict==4.3.1
parsel==1.4.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pycurl==7.43.0.1
PyDispatcher==2.0.5
pymongo==3.6.1
PyMySQL==0.8.1
pyOpenSSL==18.0.0
pyquery==1.4.0
pyspider==0.3.10
pytz==2018.4
PyYAML==3.12
pyzmq==17.0.0
queuelib==1.5.0
redis==2.10.6
requests==2.12.4
Scrapy==1.5.0
scrapy-redis==0.6.8
selenium==3.12.0
service-identity==17.0.0
six==1.11.0
tblib==1.3.2
tornado==4.5.3
Twisted==18.4.0
tzlocal==1.5.1
u-msgpack-python==2.5.0
urllib3==1.22
w3lib==1.19.0
Werkzeug==0.11.15
WsgiDAV==2.4.0
yarl==1.2.4
zerorpc==0.6.1
zope.interface==4.5.0
